html
    head
        title #{title}
        link(rel='stylesheet', href='/styles/pug.css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        h1(id="contenido") holiiii